@page "/pigenerator"
@using BlazorPi.Services
@inject PiState state
<PageTitle>Pi Generator</PageTitle>

<label>Enter the number of digits</label>
<input type="number" id="nbDigits" @bind="nbDigits" style="width:150px" min="0" max="2000" /> 
@*<label for="nbDigits">Generate Pi decimals</label>*@
<br />
<textarea id="pi" style="width:1400px" rows="10" @bind="pi"></textarea>

@functions {
    public string pi = "314";

    private int _nbDigits = 0;
    public string nbDigits
    {
        get => _nbDigits.ToString();
        set
        {
            Int32.TryParse(value, out _nbDigits);
            if (_nbDigits > pi.Length)
            {
                pi = state.CalculatePi(_nbDigits);
            }
        }
    }

    protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
    }
}