@page "/pigenerate"
@using BlazorPi.Client.Services
@inject PiState state
<h1>Pi Generator</h1>

<label>Enter Pi</label>
<input type="number" id="nbDigits" bind="nbDigits" style="width:150px" min="0" max="2000" /> <label for="nbDigits">Generate Pi decimals</label><span>@CurrentDigit</span> <br />
<textarea id="pi" style="width:1400px" rows="10" bind="pi"></textarea>

@functions {
    public string pi = "314";
    public int CurrentDigit { get; set; }

    private int _nbDigits = 0;
    public string nbDigits
    {
        get => _nbDigits.ToString();
        set
        {
            Int32.TryParse(value, out _nbDigits);
            if (_nbDigits > pi.Length)
            {
                pi = state.CalculatePi(_nbDigits);
            }
        }
    }

    protected override void OnInit()
    {
        state.OnChange += StateHasChanged;
    }
}